<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>JumMeChu</title>
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
<div id="menu">
  <ul>
    <li id="logo"></li>
    <li><a href='/'>Home</a></li>
    <li><a href='/api/post/list'/>Board</a></li>
    <li><a href='/api/user/loginform'/>Login</a></li>
    <li><a href='/api/user/signupform'/>Sign in</a></li>
  </ul>
</div>
<div style="text-align:center">
  <h1>This is HOME</h1>
</div>
</body>
<script>

</script>
</html>