<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
</head>

<body>
<div id="login-form">
  <div id="login-title">Sign up Select Shop</div>

  <div>
    <div class="login-id-label">ID</div>
    <input type="text" name="id" id="id" placeholder="id" class="login-input-box">

    <div class="login-id-label">Password</div>
    <input type="password" name="password" id="password" class="login-input-box">

<!--    <div class="login-id-label">E-mail</div>-->
<!--    <input type="text" name="email" placeholder="E-mail" class="login-input-box">-->

<!--    <div>-->
<!--      <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자-->
<!--      <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">-->
<!--    </div>-->
    <button id="login-id-submit" onclick="onSignup()">회원 가입</button>
  </div>
</div>
</body>

<script>
  const host = 'http://' + window.location.host;

  function onSignup() {
    let id = $('#id').val();
    let password = $('#password').val();

    $.ajax({
      type: "POST",
      url: `/api/user/signup`,
      contentType: "application/json",
      data: JSON.stringify({id: id, password: password}),
    }).done(function (res, status, xhr) {
      window.location.href = host + '/api/user/login-page'
    }).fail((jqXHR, textStatus) => {
      alert("Signup Fail")
      window.location.href = host + '/api/user/login-page?error'
    })
  }
</script>
</html>